@model IEnumerable<ProdStore.Data.ProductDto>
@{
    ViewBag.Title = "Все пользователи";
}
<style>
    #new{
        margin-bottom:10px; 
    }
</style>
<a id="new" asp-action="Create" class="btn btn-outline-success">Add New Product</a>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@Url.Action("Index","Product", new { id = item.Id })" >@item.Name</a></td>
            <td>
                
                <a asp-action="Edit" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-outline-dark">Изменить</a> 
                <a asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-outline-dark">Удалить</a>
            </td>
        </tr>
    }
</table>