@{
    ViewData["Title"] = "Final";

}

<h1>Ваш заказ принят в обработку
    ожидайте дальнейшей ифнормации на почте.
                        Спасибо за покупку!
    </h1>
<form action="@Url.Action("Index","Home")" method="post">
    <button class="btn btn-outline-dark btn-lg">
        Вернуться к покупкам
    </button>
</form>
